 body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
    color: #FF3B58;
    text-decoration: none;
}

p {
    margin: 0 0 10px 0;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto 100px;
    padding: 0 40px;
}

.app-header,
.search-wrap__query {
    background: #194756;
    color: #F2EABC;
    padding: 40px;
    margin-bottom: 40px;
}

.book-shelf__section {
    border-bottom: 2px solid #194756;
    margin: 0 0 40px;
    padding-bottom: 10px;
}

.search-wrap__query {
    padding: 0;
}
.search-wrap__input {
    background: transparent;
    border: 0;
    color: #F2EABC;
    font-size: 24px;
    padding: 40px;
    text-align: center;
    width: calc(100% - 80px);
}

.search-wrap__input:focus {
    outline: 0;
}

.search-wrap__input::-webkit-input-placeholder {
    color: #F2EABC;
}

.search-wrap__input::-moz-placeholder {
    color: #F2EABC;
}

.app-header__title {
    margin: 0;
    text-align: center;
}

.book-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat( 5, 1fr );
    margin-bottom: 40px;
    padding-left: 0;
}

.book-grid li {
    list-style: none;
    padding: 20px;
}

.book-grid .book-grid__filter {
    grid-column: span 6;
    padding: 0;
}

.book-grid .book-grid__filter li,
.book-grid .book-grid__filter ul {
    display: block;
    padding: 0;
}

.book-grid .book-grid__filter .book-card {
    float: right;
    padding: 20px;
}

.book-grid .book-grid__filter .book-card,
.book-grid .book-grid__filter .book-card:focus,
.book-grid .book-grid__filter .book-card:hover {
    box-shadow: none;
    transform: scale(1);
}

.book-grid .book-grid__filter .book-card label {
    margin-right: 5px;
}

.book-grid .book-grid__filter .book-card label:not(:first-of-type) {
    margin-left: 20px;
}

.book-grid__notice {
    grid-column: span 6;
    font-size: 48px;
    text-align: center;
}

.book-card {
    background: #f5f5f5;
    box-shadow: 0 0 0 rgba(0,0,0,.4);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, auto);
    transition: box-shadow .15s ease-in-out, transform .15s ease-in-out;
    position: relative;
}

.book-card:focus,
.book-card:hover {
    box-shadow: 0 5px 50px rgba(0,0,0,.4);
    transform: scale(1.02);
}

.book-card:focus .book-card__location,
.book-card:hover .book-card__location {
    transform: rotateX(0) translate3d(0, 0, 0);
    opacity: 1;
}

.book-card__image {
    justify-self: center;
}

.book-card__title,
.book-card__authors {
    display: block;
    margin-bottom: 10px;
}

.book-card__mature {
    background: red;
    box-shadow: 0 2px 10px rgba(0,0,0,.4);
    color: #fff;
    display: block;
    padding: 5px;
    position: absolute;
    top: -5px;
    right: -5px;
}

.book-card__authors {
    font-size: .8em;
    font-style: italic;
}

.book-card__location {
    border-color: #194756;
    bottom: 20px;
    color: #194756;
    left: 20px;
    width: 100%;
}

#nav {
    text-align: center;
    width: 100%;
    z-index: 1000;
}

#nav span {
    background: #080000;
    color: #fff;
    display: block;
    padding: 20px 10px;
}
